html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #e3e3e3;
    height: 100%;
}
body > div {
    height: 100%;
}
header * a,
header * a:visited,
header * a:hover,
header * a:active,
header a,
header a:visited,
header a:hover,
header a:active {
    color: inherit;
    text-decoration: inherit;
}
blockquote {
    border-left: solid #4bbcf4 4px;
    margin: 0px;
    padding-left: 10px;
    font-size: 22px;
}